@media only screen and (max-width: 99999px) {
    :root {
        --global-font-size: 15px;
    }
}

@media only screen and (max-width: 850px) {
    :root {
        --global-font-size: 14px;
    }
}

:root {
    --primary-color: #2bbc8a;
}

table:not(code table) {
    width: auto;
}

table:not(code table) th,
table:not(code table) td  {
    border: none;
}
table:not(code table) td:first-child  {
    color: inherit;
    font-weight: inherit;
}

table:not(code table) thead {
    border-bottom: 1px solid;
}

.footer {
    border-top: dashed 2px;
    margin-bottom: 40px;
    color: var(--secondary-color);
}

code table * {
    border: none;
}

.switch-btn {
    position: absolute;
    right: 20px;
    color: var(--secondary-color);
    font-size: 14px;
    cursor: pointer;
    z-index: 9999;
}

.boring {
    opacity: 0.5;
}

div pre {
    position: relative;
    margin: 0;
    padding: 0 16px;
}

table.hljs-ln {
    margin: 0;
}

.highlight > pre {
    background-color: transparent !important;
}

/*pre code::after, pre code::before {
    content: "~~~";
    display: block;
}*/

pre > code {
    overflow-x: auto;
    padding: 0px !important;
}

div > pre {
    margin-top: 0;
    margin-bottom: var(--global-line-height);
    border-style: none;
} 

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin-bottom: 0;
}

.hljs-ln-n {
    font-weight: normal;
    opacity: 0.5;
}

body > * {
    width: 100%;
}

body > .main-container {
    flex: 1;
}

ol {
    padding-left: 26px;
}

ol > li {
    display: list-item;
    padding-left: 0px;
}

ol > li::before {
    content: none;
    display: none;
}

ul>li,li>ul>li {
    position: relative;
    display: list-item;
    list-style-type: '*';
    margin-left: calc(var(--global-space));
    padding-left: calc(var(--global-space));
}

ul>li::after {
    content: none;
}

.hljs-ln-line.hljs-ln-numbers {
    word-break: normal;
    padding-right: 10px;
    width: 24px !important;
}

.hljs-ln-line.hljs-ln-numbers div {
    margin: 0 !important;
}