<!-- Keep - override to add code to <header /> tag -->

<link rel="stylesheet" href="{{ "/css/color.css" }}">
<link rel="stylesheet"
      href="/css/github.min.css">
<script src="/js/highlight.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/tex-mml-svg.js" async></script>
<script src="/js/hide_code.js"></script>